@{

    Layout = "_EditorLayout";
}
@model FilmMediainfo;

<h2>Modifica</h2>
<form asp-controller="Film" asp-action="Update" asp-route-id="@Model.Film.Id" method="post">
@Html.AntiForgeryToken()
@*titolo*@
    <div class="mb-3">
        <strong>Titolo:</strong>
        <textarea class="form-control" asp-for="Film.Title"></textarea>
        <span asp-validation-for="Film.Title" class="text-danger"></span>
    </div>

@*descrizione*@
    <div class="mb-3">
        <strong>Descrizione:</strong>
        <textarea class="form-control" asp-for="Film.Description"></textarea>
        <span asp-validation-for="Film.Description" class="text-danger"></span>
    </div>

@*anno*@    @*to do- implementare controllo anno d'uscita*@
    <div class="mb-3">
        <strong>Anno d'uscita':</strong>
        <textarea class="form-control" asp-for="Film.MediaInfo.Year"></textarea>
        <span asp-validation-for="Film.MediaInfo.Year" class="text-danger"></span>
    </div>

    @*generi*@          
    <div class="mb-3 form-group">
        <label><strong>Generi:</strong></label>
        <select asp-for="GenreIds"
                multiple="multiple"
                size="6"
                class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                asp-items="@(new SelectList(Model.Genres, nameof(Genre.Id), nameof(Genre.Name)))">
        </select>
        <span asp-validation-for="FeatureIds" class="text-danger"></span>
    </div>

    @*caratteristiche*@          
    <div class="mb-3 form-group">
        <label><strong>Caratteristiche:</strong></label>
        <select asp-for="FeatureIds"
                multiple="multiple"
                size="6"
                class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                asp-items="@(new SelectList(Model.Features, nameof(Feature.Id), nameof(Feature.Name)))">
                @*che list, che valore avrà, cosa vuoi che mostri*@
        </select>

        <span asp-validation-for="FeatureIds" class="text-danger"></span>
    </div>
    @*attori*@
    <div class="mb-3">
        <strong>Attori:</strong>
        <select multiple="multiple"
            asp-for="ActorIds"
            size="6"
            class="form-control mb-2 mr-sm-2 ml-sm-3 leftList">
            @foreach (Actor actor in Model.Actors)
            {
                <option value="@actor.Id">@actor.Name @actor.Surname</option>
            }
        </select>
    </div>

    <input type="submit" class="btn btn-small  btn-secondary" value="Salva">

</form>
